<%= form_for race do |f| %>
<div class="">
  <div class="row">
    <%= f.label :name, "Race Name" %>
  </div>

  <div class="row">
      <%= f.text_field :name %>
      <%= f.collection_select :name, Race.remove_empty_string, :name, :name, include_blank: true %>
  </div>

  <div class="">
    <div class="row">
      <%= f.label :distance, "Distance" %>
    </div>
  </div>

  <div class="row">
      <%= f.text_field :distance %>
      <%= f.collection_select :distance, Race.remove_empty_string, :distance, :distance, include_blank: true %>
  </div>

  <div class="">
    <div class="row">
      <%= f.label :location, "Location" %>
    </div>
  </div>

  <div class="row">
      <%= f.text_field :location %>
      <%= f.collection_select :location, Race.remove_empty_string, :location, :location, include_blank: true %>
  </div>


  <div class="">
    <div class="row">
      <%= f.label :event_date, "Date" %>
    </div>
  </div>

  <div class="row">
      <%= f.text_field :event_date %>
  </div>

  <div class="row buttons">
    <%= f.submit %>
  </div>
  <% end %>
</div>
