<h1><%= current_user.first_name %>'s Races</h1>
<% current_user.races.each do |race| %>

<li><%= race.name %> - <%= race.distance %> - <%= race.locations.name %> - <%= race.event_date %> > <%= link_to "Edit Race", edit_race_path(race) %> > <%= link_to "Delete Race", race_path(race), method: :delete %></li>
<% end %>
