<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html>
  <% if user_signed_in? %>
    <h2>Hello, <%= current_user.first_name%>!</h2>

<!-- add date? -->
<p>What do you want to do?</p>

<!-- add a PR  -->
<button id="new-pr" type="button" name="button" value="add-pr">ADD NEW PR</button>
<div id="new-pr-form"></div>
<!-- <div class="dashboard row">
  <div class="btn btn-md btn-primary buttons">
    <%# link_to "Add a PR", new_user_pr_path %>
  </div>
</div> -->

<!-- view PRs  -->
<div class="dashboard row">
  <div class="btn btn-md btn-primary buttons">
    <%= link_to "View Your PRs", user_prs_path %>
  </div>
</div>

<!-- view upcoming races  -->
<div class="dashboard row">
  <div class="btn btn-md btn-primary buttons">
    <%= link_to "View Upcoming Races", races_path %>
  </div>
</div>

<!-- add an upcoming race  -->
<div class=" row">
  <div class="btn btn-md btn-primary buttons">
    <%= link_to "Add an Upcoming Race", new_race_path %>
  </div>
</div>

<!-- view past races  -->
<div class="dashboard row">
  <div class="btn btn-md btn-primary buttons">
    <%= link_to "View Past Races", my_past_races_path %>
  </div>
</div>
<% end%>
